portlets/RDAHMM-portlet/src/main/java/rdahmmexec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" xmlns:intf="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:GatewayWS" xmlns:tns2="urn:RDAHMMResultsBean" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:GatewayWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:RDAHMMResultsBean"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="urn:RDAHMMResultsBean" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:GatewayWS"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RDAHMMResultsBean">
    <sequence>
     <element name="AUrl" nillable="true" type="soapenc:string"/>
     <element name="BUrl" nillable="true" type="soapenc:string"/>
     <element name="LUrl" nillable="true" type="soapenc:string"/>
     <element name="QUrl" nillable="true" type="soapenc:string"/>
     <element name="inputUrl" nillable="true" type="soapenc:string"/>
     <element name="inputXPngUrl" nillable="true" type="soapenc:string"/>
     <element name="inputYPngUrl" nillable="true" type="soapenc:string"/>
     <element name="inputZPngUrl" nillable="true" type="soapenc:string"/>
     <element name="maxvalUrl" nillable="true" type="soapenc:string"/>
     <element name="minvalUrl" nillable="true" type="soapenc:string"/>
     <element name="piUrl" nillable="true" type="soapenc:string"/>
     <element name="rangeUrl" nillable="true" type="soapenc:string"/>
     <element name="stdoutUrl" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="runBlockingRDAHMM2Response1">

      <wsdl:part name="runBlockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Response3">

      <wsdl:part name="runNonblockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMResponse">

      <wsdl:part name="runNonblockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Response3">

      <wsdl:part name="runBlockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Response2">

      <wsdl:part name="runBlockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMRequest">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMRequest">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Response1">

      <wsdl:part name="runNonblockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Request">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Response2">

      <wsdl:part name="runNonblockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMRequest3">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="baseWorkDir" type="soapenc:string"/>

      <wsdl:part name="outputDestDir" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="binPath" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

      <wsdl:part name="randomSeed" type="xsd:int"/>

      <wsdl:part name="outputType" type="soapenc:string"/>

      <wsdl:part name="annealStep" type="xsd:double"/>

      <wsdl:part name="buildFilePath" type="soapenc:string"/>

      <wsdl:part name="antTarget" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMResponse2">

      <wsdl:part name="runNonblockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMRequest1">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="resource" type="soapenc:string"/>

      <wsdl:part name="contextGroup" type="soapenc:string"/>

      <wsdl:part name="contextId" type="soapenc:string"/>

      <wsdl:part name="minMaxLatLon" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMRequest2">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMResponse1">

      <wsdl:part name="runNonblockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMMResponse3">

      <wsdl:part name="runNonblockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Response">

      <wsdl:part name="runBlockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Response">

      <wsdl:part name="runNonblockingRDAHMM2Return" type="tns2:RDAHMMResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMResponse2">

      <wsdl:part name="runBlockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMResponse3">

      <wsdl:part name="runBlockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Request">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Request2">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMRequest3">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="baseWorkDir" type="soapenc:string"/>

      <wsdl:part name="outputDestDir" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="binPath" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

      <wsdl:part name="randomSeed" type="xsd:int"/>

      <wsdl:part name="outputType" type="soapenc:string"/>

      <wsdl:part name="annealStep" type="xsd:double"/>

      <wsdl:part name="buildFilePath" type="soapenc:string"/>

      <wsdl:part name="antTarget" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Request1">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="resource" type="soapenc:string"/>

      <wsdl:part name="contextGroup" type="soapenc:string"/>

      <wsdl:part name="contextId" type="soapenc:string"/>

      <wsdl:part name="minMaxLatLon" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Request1">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="resource" type="soapenc:string"/>

      <wsdl:part name="contextGroup" type="soapenc:string"/>

      <wsdl:part name="contextId" type="soapenc:string"/>

      <wsdl:part name="minMaxLatLon" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMRequest2">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingRDAHMM2Request3">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="baseWorkDir" type="soapenc:string"/>

      <wsdl:part name="outputDestDir" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="binPath" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

      <wsdl:part name="randomSeed" type="xsd:int"/>

      <wsdl:part name="outputType" type="soapenc:string"/>

      <wsdl:part name="annealStep" type="xsd:double"/>

      <wsdl:part name="buildFilePath" type="soapenc:string"/>

      <wsdl:part name="antTarget" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMResponse1">

      <wsdl:part name="runBlockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMResponse">

      <wsdl:part name="runBlockingRDAHMMReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Request2">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMMRequest1">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="resource" type="soapenc:string"/>

      <wsdl:part name="contextGroup" type="soapenc:string"/>

      <wsdl:part name="contextId" type="soapenc:string"/>

      <wsdl:part name="minMaxLatLon" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="runBlockingRDAHMM2Request3">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="baseWorkDir" type="soapenc:string"/>

      <wsdl:part name="outputDestDir" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="binPath" type="soapenc:string"/>

      <wsdl:part name="numModelStates" type="xsd:int"/>

      <wsdl:part name="randomSeed" type="xsd:int"/>

      <wsdl:part name="outputType" type="soapenc:string"/>

      <wsdl:part name="annealStep" type="xsd:double"/>

      <wsdl:part name="buildFilePath" type="soapenc:string"/>

      <wsdl:part name="antTarget" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="RDAHMMService">

      <wsdl:operation name="runNonblockingRDAHMM" parameterOrder="siteCode beginDate endDate numModelStates">

         <wsdl:input message="impl:runNonblockingRDAHMMRequest" name="runNonblockingRDAHMMRequest"/>

         <wsdl:output message="impl:runNonblockingRDAHMMResponse" name="runNonblockingRDAHMMResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM" parameterOrder="siteCode resource contextGroup contextId minMaxLatLon beginDate endDate numModelStates">

         <wsdl:input message="impl:runNonblockingRDAHMMRequest1" name="runNonblockingRDAHMMRequest1"/>

         <wsdl:output message="impl:runNonblockingRDAHMMResponse1" name="runNonblockingRDAHMMResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM" parameterOrder="inputFileUrlString numModelStates">

         <wsdl:input message="impl:runNonblockingRDAHMMRequest2" name="runNonblockingRDAHMMRequest2"/>

         <wsdl:output message="impl:runNonblockingRDAHMMResponse2" name="runNonblockingRDAHMMResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM" parameterOrder="inputFileUrlString baseWorkDir outputDestDir projectName binPath numModelStates randomSeed outputType annealStep buildFilePath antTarget">

         <wsdl:input message="impl:runNonblockingRDAHMMRequest3" name="runNonblockingRDAHMMRequest3"/>

         <wsdl:output message="impl:runNonblockingRDAHMMResponse3" name="runNonblockingRDAHMMResponse3"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2" parameterOrder="siteCode beginDate endDate numModelStates">

         <wsdl:input message="impl:runNonblockingRDAHMM2Request" name="runNonblockingRDAHMM2Request"/>

         <wsdl:output message="impl:runNonblockingRDAHMM2Response" name="runNonblockingRDAHMM2Response"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2" parameterOrder="siteCode resource contextGroup contextId minMaxLatLon beginDate endDate numModelStates">

         <wsdl:input message="impl:runNonblockingRDAHMM2Request1" name="runNonblockingRDAHMM2Request1"/>

         <wsdl:output message="impl:runNonblockingRDAHMM2Response1" name="runNonblockingRDAHMM2Response1"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2" parameterOrder="inputFileUrlString numModelStates">

         <wsdl:input message="impl:runNonblockingRDAHMM2Request2" name="runNonblockingRDAHMM2Request2"/>

         <wsdl:output message="impl:runNonblockingRDAHMM2Response2" name="runNonblockingRDAHMM2Response2"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2" parameterOrder="inputFileUrlString baseWorkDir outputDestDir projectName binPath numModelStates randomSeed outputType annealStep buildFilePath antTarget">

         <wsdl:input message="impl:runNonblockingRDAHMM2Request3" name="runNonblockingRDAHMM2Request3"/>

         <wsdl:output message="impl:runNonblockingRDAHMM2Response3" name="runNonblockingRDAHMM2Response3"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM" parameterOrder="siteCode beginDate endDate numModelStates">

         <wsdl:input message="impl:runBlockingRDAHMMRequest" name="runBlockingRDAHMMRequest"/>

         <wsdl:output message="impl:runBlockingRDAHMMResponse" name="runBlockingRDAHMMResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM" parameterOrder="siteCode resource contextGroup contextId minMaxLatLon beginDate endDate numModelStates">

         <wsdl:input message="impl:runBlockingRDAHMMRequest1" name="runBlockingRDAHMMRequest1"/>

         <wsdl:output message="impl:runBlockingRDAHMMResponse1" name="runBlockingRDAHMMResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM" parameterOrder="inputFileUrlString numModelStates">

         <wsdl:input message="impl:runBlockingRDAHMMRequest2" name="runBlockingRDAHMMRequest2"/>

         <wsdl:output message="impl:runBlockingRDAHMMResponse2" name="runBlockingRDAHMMResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM" parameterOrder="inputFileUrlString baseWorkDir outputDestDir projectName binPath numModelStates randomSeed outputType annealStep buildFilePath antTarget">

         <wsdl:input message="impl:runBlockingRDAHMMRequest3" name="runBlockingRDAHMMRequest3"/>

         <wsdl:output message="impl:runBlockingRDAHMMResponse3" name="runBlockingRDAHMMResponse3"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2" parameterOrder="siteCode beginDate endDate numModelStates">

         <wsdl:input message="impl:runBlockingRDAHMM2Request" name="runBlockingRDAHMM2Request"/>

         <wsdl:output message="impl:runBlockingRDAHMM2Response" name="runBlockingRDAHMM2Response"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2" parameterOrder="siteCode resource contextGroup contextId minMaxLatLon beginDate endDate numModelStates">

         <wsdl:input message="impl:runBlockingRDAHMM2Request1" name="runBlockingRDAHMM2Request1"/>

         <wsdl:output message="impl:runBlockingRDAHMM2Response1" name="runBlockingRDAHMM2Response1"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2" parameterOrder="inputFileUrlString numModelStates">

         <wsdl:input message="impl:runBlockingRDAHMM2Request2" name="runBlockingRDAHMM2Request2"/>

         <wsdl:output message="impl:runBlockingRDAHMM2Response2" name="runBlockingRDAHMM2Response2"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2" parameterOrder="inputFileUrlString baseWorkDir outputDestDir projectName binPath numModelStates randomSeed outputType annealStep buildFilePath antTarget">

         <wsdl:input message="impl:runBlockingRDAHMM2Request3" name="runBlockingRDAHMM2Request3"/>

         <wsdl:output message="impl:runBlockingRDAHMM2Response3" name="runBlockingRDAHMM2Response3"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RDAHMMExecSoapBinding" type="impl:RDAHMMService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="runNonblockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMMRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMMResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMMRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMMResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMMRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMMResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMMRequest3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMMResponse3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMM2Request">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMM2Response">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMM2Request1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMM2Response1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMM2Request2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMM2Response2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingRDAHMM2Request3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingRDAHMM2Response3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMMRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMMResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMMRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMMResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMMRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMMResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMMRequest3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMMResponse3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMM2Request">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMM2Response">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMM2Request1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMM2Response1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMM2Request2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMM2Response2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingRDAHMM2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingRDAHMM2Request3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingRDAHMM2Response3">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RDAHMMServiceService">

      <wsdl:port binding="impl:RDAHMMExecSoapBinding" name="RDAHMMExec">

         <wsdlsoap:address location="http://gf19.ucs.indiana.edu:8080/rdahmmexec/services/RDAHMMExec"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
