jsf_standalone/Disloc/src/main/java/junk2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/dislocexec/services/DislocExtendedExec" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/dislocexec/services/DislocExtendedExec" xmlns:intf="http://localhost:8080/dislocexec/services/DislocExtendedExec" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:DislocExtendedService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:DislocExtendedService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/dislocexec/services/DislocExtendedExec"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ObsvPoint">
    <sequence>
     <element name="latPoint" nillable="true" type="soapenc:string"/>
     <element name="lonPoint" nillable="true" type="soapenc:string"/>
     <element name="xcartPoint" nillable="true" type="soapenc:string"/>
     <element name="ycartPoint" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Fault">
    <sequence>
     <element name="faultDepth" type="xsd:double"/>
     <element name="faultDipAngle" type="xsd:double"/>
     <element name="faultDipSlip" type="xsd:double"/>
     <element name="faultLameLambda" type="xsd:double"/>
     <element name="faultLameMu" type="xsd:double"/>
     <element name="faultLatEnd" type="xsd:double"/>
     <element name="faultLatStart" type="xsd:double"/>
     <element name="faultLength" type="xsd:double"/>
     <element name="faultLocationX" type="xsd:double"/>
     <element name="faultLocationY" type="xsd:double"/>
     <element name="faultLocationZ" type="xsd:double"/>
     <element name="faultLonEnd" type="xsd:double"/>
     <element name="faultLonStart" type="xsd:double"/>
     <element name="faultName" nillable="true" type="soapenc:string"/>
     <element name="faultRakeAngle" type="xsd:double"/>
     <element name="faultStrikeAngle" type="xsd:double"/>
     <element name="faultStrikeSlip" type="xsd:double"/>
     <element name="faultTensileSlip" type="xsd:double"/>
     <element name="faultWidth" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="DislocParamsBean">
    <sequence>
     <element name="gridMinXValue" type="xsd:double"/>
     <element name="gridMinYValue" type="xsd:double"/>
     <element name="gridXIterations" type="xsd:int"/>
     <element name="gridXSpacing" type="xsd:double"/>
     <element name="gridYIterations" type="xsd:int"/>
     <element name="gridYSpacing" type="xsd:double"/>
     <element name="observationPointStyle" type="xsd:int"/>
     <element name="originLat" type="xsd:double"/>
     <element name="originLon" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="DislocResultsBean">
    <sequence>
     <element name="inputFileUrl" nillable="true" type="soapenc:string"/>
     <element name="jobUIDStamp" nillable="true" type="soapenc:string"/>
     <element name="outputFileUrl" nillable="true" type="soapenc:string"/>
     <element name="projectName" nillable="true" type="soapenc:string"/>
     <element name="stdoutUrl" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/dislocexec/services/DislocExtendedExec" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:DislocExtendedService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_ObsvPoint">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ObsvPoint[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Fault">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Fault[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="testCallResponse">

   </wsdl:message>

   <wsdl:message name="runBlockingDislocExtRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="obsvPoints" type="impl:ArrayOf_tns1_ObsvPoint"/>

      <wsdl:part name="faults" type="impl:ArrayOf_tns1_Fault"/>

      <wsdl:part name="dislocParams" type="tns1:DislocParamsBean"/>

      <wsdl:part name="targetName" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingDislocExtResponse">

      <wsdl:part name="runBlockingDislocExtReturn" type="tns1:DislocResultsBean"/>

   </wsdl:message>

   <wsdl:message name="runNonBlockingDislocExtRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="obsvPoints" type="impl:ArrayOf_tns1_ObsvPoint"/>

      <wsdl:part name="faults" type="impl:ArrayOf_tns1_Fault"/>

      <wsdl:part name="dislocParams" type="tns1:DislocParamsBean"/>

      <wsdl:part name="targetName" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="testCallRequest">

      <wsdl:part name="testBean" type="impl:ArrayOf_tns1_ObsvPoint"/>

   </wsdl:message>

   <wsdl:message name="runNonBlockingDislocExtResponse">

      <wsdl:part name="runNonBlockingDislocExtReturn" type="tns1:DislocResultsBean"/>

   </wsdl:message>

   <wsdl:portType name="DislocExtendedService">

      <wsdl:operation name="testCall" parameterOrder="testBean">

         <wsdl:input message="impl:testCallRequest" name="testCallRequest"/>

         <wsdl:output message="impl:testCallResponse" name="testCallResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runNonBlockingDislocExt" parameterOrder="userName projectName obsvPoints faults dislocParams targetName">

         <wsdl:input message="impl:runNonBlockingDislocExtRequest" name="runNonBlockingDislocExtRequest"/>

         <wsdl:output message="impl:runNonBlockingDislocExtResponse" name="runNonBlockingDislocExtResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingDislocExt" parameterOrder="userName projectName obsvPoints faults dislocParams targetName">

         <wsdl:input message="impl:runBlockingDislocExtRequest" name="runBlockingDislocExtRequest"/>

         <wsdl:output message="impl:runBlockingDislocExtResponse" name="runBlockingDislocExtResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DislocExtendedExecSoapBinding" type="impl:DislocExtendedService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testCall">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testCallRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://disloc.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="testCallResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/dislocexec/services/DislocExtendedExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonBlockingDislocExt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonBlockingDislocExtRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://disloc.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonBlockingDislocExtResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/dislocexec/services/DislocExtendedExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingDislocExt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingDislocExtRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://disloc.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingDislocExtResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/dislocexec/services/DislocExtendedExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DislocExtendedServiceService">

      <wsdl:port binding="impl:DislocExtendedExecSoapBinding" name="DislocExtendedExec">

         <wsdlsoap:address location="http://localhost:8080/dislocexec/services/DislocExtendedExec"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
