ExecutionServices/DailyRDAHMMResultService/resources/META-INF/DailyRdahmmResultService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://webservices.cgl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservices.cgl">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.cgl">
            <xs:element name="calcStationColors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calcStationColorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataLatestDateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLatLongForStation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLatLongForStationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calcStationColorsRequest">
        <wsdl:part name="parameters" element="ns:calcStationColors"/>
    </wsdl:message>
    <wsdl:message name="calcStationColorsResponse">
        <wsdl:part name="parameters" element="ns:calcStationColorsResponse"/>
    </wsdl:message>
    <wsdl:message name="getLatLongForStationRequest">
        <wsdl:part name="parameters" element="ns:getLatLongForStation"/>
    </wsdl:message>
    <wsdl:message name="getLatLongForStationResponse">
        <wsdl:part name="parameters" element="ns:getLatLongForStationResponse"/>
    </wsdl:message>
    <wsdl:message name="getDataLatestDateRequest"/>
    <wsdl:message name="getDataLatestDateResponse">
        <wsdl:part name="parameters" element="ns:getDataLatestDateResponse"/>
    </wsdl:message>
    <wsdl:portType name="DailyRdahmmResultServicePortType">
        <wsdl:operation name="calcStationColors">
            <wsdl:input message="ns:calcStationColorsRequest" wsaw:Action="urn:calcStationColors"/>
            <wsdl:output message="ns:calcStationColorsResponse" wsaw:Action="urn:calcStationColorsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLatLongForStation">
            <wsdl:input message="ns:getLatLongForStationRequest" wsaw:Action="urn:getLatLongForStation"/>
            <wsdl:output message="ns:getLatLongForStationResponse" wsaw:Action="urn:getLatLongForStationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDataLatestDate">
            <wsdl:input message="ns:getDataLatestDateRequest" wsaw:Action="urn:getDataLatestDate"/>
            <wsdl:output message="ns:getDataLatestDateResponse" wsaw:Action="urn:getDataLatestDateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DailyRdahmmResultServiceSoap11Binding" type="ns:DailyRdahmmResultServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calcStationColors">
            <soap:operation soapAction="urn:calcStationColors" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLatLongForStation">
            <soap:operation soapAction="urn:getLatLongForStation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataLatestDate">
            <soap:operation soapAction="urn:getDataLatestDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DailyRdahmmResultServiceSoap12Binding" type="ns:DailyRdahmmResultServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calcStationColors">
            <soap12:operation soapAction="urn:calcStationColors" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLatLongForStation">
            <soap12:operation soapAction="urn:getLatLongForStation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataLatestDate">
            <soap12:operation soapAction="urn:getDataLatestDate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DailyRdahmmResultServiceHttpBinding" type="ns:DailyRdahmmResultServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="calcStationColors">
            <http:operation location="DailyRdahmmResultService/calcStationColors"/>
            <wsdl:input>
                <mime:content type="text/xml" part="calcStationColors"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="calcStationColors"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLatLongForStation">
            <http:operation location="DailyRdahmmResultService/getLatLongForStation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getLatLongForStation"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getLatLongForStation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataLatestDate">
            <http:operation location="DailyRdahmmResultService/getDataLatestDate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getDataLatestDate"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDataLatestDate"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DailyRdahmmResultService">
        <wsdl:port name="DailyRdahmmResultServiceHttpSoap11Endpoint" binding="ns:DailyRdahmmResultServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DailyRdahmmResultService"/>
        </wsdl:port>
        <wsdl:port name="DailyRdahmmResultServiceHttpSoap12Endpoint" binding="ns:DailyRdahmmResultServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DailyRdahmmResultService"/>
        </wsdl:port>
        <wsdl:port name="DailyRdahmmResultServiceHttpEndpoint" binding="ns:DailyRdahmmResultServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DailyRdahmmResultService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
