ExecutionServices/GnuplotService/AntVisco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:GatewayWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:GatewayWS-impl" xmlns:intf="urn:GatewayWS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="urn:GatewayWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_soapenc_string" nillable="true" type="intf:ArrayOf_soapenc_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getArgsRequest">

   </wsdl:message>

   <wsdl:message name="mainResponse">

   </wsdl:message>

   <wsdl:message name="executeResponse">

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part name="return" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setBuildFileResponse">

   </wsdl:message>

   <wsdl:message name="getArgsResponse">

      <wsdl:part name="return" type="intf:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runRequest">

   </wsdl:message>

   <wsdl:message name="setBuildFileRequest">

      <wsdl:part name="filename" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="executeRequest">

   </wsdl:message>

   <wsdl:message name="setArgsRequest">

      <wsdl:part name="args" type="intf:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part name="args" type="intf:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="setArgsResponse">

   </wsdl:message>

   <wsdl:message name="runResponse">

   </wsdl:message>

   <wsdl:message name="stopResponse">

   </wsdl:message>

   <wsdl:message name="stopRequest">

   </wsdl:message>

   <wsdl:portType name="AntVisco">

      <wsdl:operation name="main" parameterOrder="args">

         <wsdl:input message="intf:mainRequest" name="mainRequest"/>

         <wsdl:output message="intf:mainResponse" name="mainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="run">

         <wsdl:input message="intf:runRequest" name="runRequest"/>

         <wsdl:output message="intf:runResponse" name="runResponse"/>

      </wsdl:operation>

      <wsdl:operation name="stop">

         <wsdl:input message="intf:stopRequest" name="stopRequest"/>

         <wsdl:output message="intf:stopResponse" name="stopResponse"/>

      </wsdl:operation>

      <wsdl:operation name="execute">

         <wsdl:input message="intf:executeRequest" name="executeRequest"/>

         <wsdl:output message="intf:executeResponse" name="executeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setArgs" parameterOrder="args">

         <wsdl:input message="intf:setArgsRequest" name="setArgsRequest"/>

         <wsdl:output message="intf:setArgsResponse" name="setArgsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getArgs">

         <wsdl:input message="intf:getArgsRequest" name="getArgsRequest"/>

         <wsdl:output message="intf:getArgsResponse" name="getArgsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setBuildFile" parameterOrder="filename">

         <wsdl:input message="intf:setBuildFileRequest" name="setBuildFileRequest"/>

         <wsdl:output message="intf:setBuildFileResponse" name="setBuildFileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdl:input message="intf:getStatusRequest" name="getStatusRequest"/>

         <wsdl:output message="intf:getStatusResponse" name="getStatusResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AntViscoSoapBinding" type="intf:AntVisco">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="run">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stop">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="stopRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="stopResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setArgs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setArgsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setArgsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getArgs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getArgsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getArgsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setBuildFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setBuildFileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setBuildFileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:GatewayWS" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AntViscoService">

      <wsdl:port binding="intf:AntViscoSoapBinding" name="AntVisco">

         <wsdlsoap:address location="http://danube.ucs.indiana.edu:8005/axis/services/AntVisco"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
