portlets/GeoFESTGrid-portlet/src/main/java/info.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/gridinfo/services/GridInfoService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/gridinfo/services/GridInfoService" xmlns:intf="http://localhost:8080/gridinfo/services/GridInfoService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:GatewayWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:GatewayWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getHomeDirectoryResponse">

      <wsdl:part name="getHomeDirectoryReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserNameRequest">

      <wsdl:part name="host" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getJobManagerResponse">

      <wsdl:part name="getJobManagerReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserNameResponse">

      <wsdl:part name="getUserNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getHostsRequest">

   </wsdl:message>

   <wsdl:message name="getHostsResponse">

      <wsdl:part name="getHostsReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getJobManagerRequest">

      <wsdl:part name="host" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getHomeDirectoryRequest">

      <wsdl:part name="host" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="GridInfoService">

      <wsdl:operation name="getHosts">

         <wsdl:input message="impl:getHostsRequest" name="getHostsRequest"/>

         <wsdl:output message="impl:getHostsResponse" name="getHostsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getUserName" parameterOrder="host">

         <wsdl:input message="impl:getUserNameRequest" name="getUserNameRequest"/>

         <wsdl:output message="impl:getUserNameResponse" name="getUserNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHomeDirectory" parameterOrder="host">

         <wsdl:input message="impl:getHomeDirectoryRequest" name="getHomeDirectoryRequest"/>

         <wsdl:output message="impl:getHomeDirectoryResponse" name="getHomeDirectoryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getJobManager" parameterOrder="host">

         <wsdl:input message="impl:getJobManagerRequest" name="getJobManagerRequest"/>

         <wsdl:output message="impl:getJobManagerResponse" name="getJobManagerResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GridInfoServiceSoapBinding" type="impl:GridInfoService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getHosts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHostsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gridinfo.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getHostsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/gridinfo/services/GridInfoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gridinfo.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/gridinfo/services/GridInfoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHomeDirectory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHomeDirectoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gridinfo.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getHomeDirectoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/gridinfo/services/GridInfoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getJobManager">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getJobManagerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gridinfo.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getJobManagerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/gridinfo/services/GridInfoService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GridInfoServiceService">

      <wsdl:port binding="impl:GridInfoServiceSoapBinding" name="GridInfoService">

         <wsdlsoap:address location="http://localhost:8080/gridinfo/services/GridInfoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
