portlets/GeoFESTGrid-portlet/src/main/java/QueueExec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" xmlns:intf="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="deleteQueueResponse">

   </wsdl:message>

   <wsdl:message name="deleteQueueRequest">

      <wsdl:part name="queueBaseName" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createQueueRequest">

      <wsdl:part name="queueBaseName" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="createQueueResponse">

   </wsdl:message>

   <wsdl:message name="getQueueUpdateTimeResponse">

      <wsdl:part name="getQueueUpdateTimeReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getQueueUpdateTimeRequest">

      <wsdl:part name="queueBaseName" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="readQueueMessageResponse">

      <wsdl:part name="readQueueMessageReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="readQueueMessageRequest">

      <wsdl:part name="queueBaseName" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="writeQueueMessageRequest">

      <wsdl:part name="queueBaseName" type="soapenc:string"/>

      <wsdl:part name="message" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="writeQueueMessageResponse">

   </wsdl:message>

   <wsdl:portType name="QueueService">

      <wsdl:operation name="createQueue" parameterOrder="queueBaseName">

         <wsdl:input message="impl:createQueueRequest" name="createQueueRequest"/>

         <wsdl:output message="impl:createQueueResponse" name="createQueueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="writeQueueMessage" parameterOrder="queueBaseName message">

         <wsdl:input message="impl:writeQueueMessageRequest" name="writeQueueMessageRequest"/>

         <wsdl:output message="impl:writeQueueMessageResponse" name="writeQueueMessageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteQueue" parameterOrder="queueBaseName">

         <wsdl:input message="impl:deleteQueueRequest" name="deleteQueueRequest"/>

         <wsdl:output message="impl:deleteQueueResponse" name="deleteQueueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="readQueueMessage" parameterOrder="queueBaseName">

         <wsdl:input message="impl:readQueueMessageRequest" name="readQueueMessageRequest"/>

         <wsdl:output message="impl:readQueueMessageResponse" name="readQueueMessageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getQueueUpdateTime" parameterOrder="queueBaseName">

         <wsdl:input message="impl:getQueueUpdateTimeRequest" name="getQueueUpdateTimeRequest"/>

         <wsdl:output message="impl:getQueueUpdateTimeResponse" name="getQueueUpdateTimeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="QueueExecSoapBinding" type="impl:QueueService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createQueue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createQueueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://queueservice.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createQueueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="writeQueueMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="writeQueueMessageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://queueservice.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="writeQueueMessageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteQueue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteQueueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://queueservice.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteQueueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readQueueMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readQueueMessageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://queueservice.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="readQueueMessageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getQueueUpdateTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQueueUpdateTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://queueservice.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getQueueUpdateTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="QueueServiceService">

      <wsdl:port binding="impl:QueueExecSoapBinding" name="QueueExec">

         <wsdlsoap:address location="http://gf19.ucs.indiana.edu:8080/queueservice/services/QueueExec"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
