portlets/PlotGRWSTimeSeries-portlet/src/main/java/GnuplotExec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" xmlns:intf="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:GatewayWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:GatewayWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="runNonblockingGnuplotRequest1">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingGnuplotResponse2">

      <wsdl:part name="runBlockingGnuplotReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingGnuplotRequest1">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingGnuplotResponse2">

      <wsdl:part name="runNonblockingGnuplotReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingGnuplotResponse">

      <wsdl:part name="runBlockingGnuplotReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingGnuplotResponse1">

      <wsdl:part name="runBlockingGnuplotReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingGnuplotResponse">

      <wsdl:part name="runNonblockingGnuplotReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingGnuplotRequest2">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="baseWorkDir" type="soapenc:string"/>

      <wsdl:part name="outputDestDir" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="binPath" type="soapenc:string"/>

      <wsdl:part name="buildFilePath" type="soapenc:string"/>

      <wsdl:part name="antTarget" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingGnuplotRequest">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingGnuplotRequest">

      <wsdl:part name="siteCode" type="soapenc:string"/>

      <wsdl:part name="beginDate" type="soapenc:string"/>

      <wsdl:part name="endDate" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingGnuplotRequest2">

      <wsdl:part name="inputFileUrlString" type="soapenc:string"/>

      <wsdl:part name="baseWorkDir" type="soapenc:string"/>

      <wsdl:part name="outputDestDir" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="binPath" type="soapenc:string"/>

      <wsdl:part name="buildFilePath" type="soapenc:string"/>

      <wsdl:part name="antTarget" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNonblockingGnuplotResponse1">

      <wsdl:part name="runNonblockingGnuplotReturn" type="tns1:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:portType name="GnuplotService">

      <wsdl:operation name="runNonblockingGnuplot" parameterOrder="siteCode beginDate endDate">

         <wsdl:input message="impl:runNonblockingGnuplotRequest" name="runNonblockingGnuplotRequest"/>

         <wsdl:output message="impl:runNonblockingGnuplotResponse" name="runNonblockingGnuplotResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingGnuplot" parameterOrder="inputFileUrlString">

         <wsdl:input message="impl:runNonblockingGnuplotRequest1" name="runNonblockingGnuplotRequest1"/>

         <wsdl:output message="impl:runNonblockingGnuplotResponse1" name="runNonblockingGnuplotResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingGnuplot" parameterOrder="inputFileUrlString baseWorkDir outputDestDir projectName binPath buildFilePath antTarget">

         <wsdl:input message="impl:runNonblockingGnuplotRequest2" name="runNonblockingGnuplotRequest2"/>

         <wsdl:output message="impl:runNonblockingGnuplotResponse2" name="runNonblockingGnuplotResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingGnuplot" parameterOrder="siteCode beginDate endDate">

         <wsdl:input message="impl:runBlockingGnuplotRequest" name="runBlockingGnuplotRequest"/>

         <wsdl:output message="impl:runBlockingGnuplotResponse" name="runBlockingGnuplotResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingGnuplot" parameterOrder="inputFileUrlString">

         <wsdl:input message="impl:runBlockingGnuplotRequest1" name="runBlockingGnuplotRequest1"/>

         <wsdl:output message="impl:runBlockingGnuplotResponse1" name="runBlockingGnuplotResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="runBlockingGnuplot" parameterOrder="inputFileUrlString baseWorkDir outputDestDir projectName binPath buildFilePath antTarget">

         <wsdl:input message="impl:runBlockingGnuplotRequest2" name="runBlockingGnuplotRequest2"/>

         <wsdl:output message="impl:runBlockingGnuplotResponse2" name="runBlockingGnuplotResponse2"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GnuplotExecSoapBinding" type="impl:GnuplotService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="runNonblockingGnuplot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingGnuplotRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingGnuplotResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingGnuplot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingGnuplotRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingGnuplotResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonblockingGnuplot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonblockingGnuplotRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonblockingGnuplotResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingGnuplot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingGnuplotRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingGnuplotResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingGnuplot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingGnuplotRequest1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingGnuplotResponse1">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runBlockingGnuplot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingGnuplotRequest2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingGnuplotResponse2">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GnuplotServiceService">

      <wsdl:port binding="impl:GnuplotExecSoapBinding" name="GnuplotExec">

         <wsdlsoap:address location="http://gf2.ucs.indiana.edu:8080/gnuplotexec/services/GnuplotExec"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
