SampleGeoFESTClient/GeoFESTExec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" xmlns:intf="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:GeoFESTService" xmlns:tns2="urn:GatewayWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:GeoFESTService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:GatewayWS"/>
   <import namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Fault">
    <sequence>
     <element name="faultDepth" nillable="true" type="soapenc:string"/>
     <element name="faultDipAngle" nillable="true" type="soapenc:string"/>
     <element name="faultLatEnd" nillable="true" type="soapenc:string"/>
     <element name="faultLatStart" nillable="true" type="soapenc:string"/>
     <element name="faultLength" nillable="true" type="soapenc:string"/>
     <element name="faultLocationX" nillable="true" type="soapenc:string"/>
     <element name="faultLocationY" nillable="true" type="soapenc:string"/>
     <element name="faultLocationZ" nillable="true" type="soapenc:string"/>
     <element name="faultLonEnd" nillable="true" type="soapenc:string"/>
     <element name="faultLonStart" nillable="true" type="soapenc:string"/>
     <element name="faultName" nillable="true" type="soapenc:string"/>
     <element name="faultRakeAngle" nillable="true" type="soapenc:string"/>
     <element name="faultSlip" nillable="true" type="soapenc:string"/>
     <element name="faultStrikeAngle" nillable="true" type="soapenc:string"/>
     <element name="faultWidth" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="Layer">
    <sequence>
     <element name="exponent" nillable="true" type="soapenc:string"/>
     <element name="lameLambda" nillable="true" type="soapenc:string"/>
     <element name="lameMu" nillable="true" type="soapenc:string"/>
     <element name="layerDepth" nillable="true" type="soapenc:string"/>
     <element name="layerLatOrigin" nillable="true" type="soapenc:string"/>
     <element name="layerLength" nillable="true" type="soapenc:string"/>
     <element name="layerLonOrigin" nillable="true" type="soapenc:string"/>
     <element name="layerName" nillable="true" type="soapenc:string"/>
     <element name="layerOriginX" nillable="true" type="soapenc:string"/>
     <element name="layerOriginY" nillable="true" type="soapenc:string"/>
     <element name="layerOriginZ" nillable="true" type="soapenc:string"/>
     <element name="layerWidth" nillable="true" type="soapenc:string"/>
     <element name="viscosity" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="GeotransParamsBean">
    <sequence>
     <element name="alpha" nillable="true" type="soapenc:string"/>
     <element name="backup_steps" nillable="true" type="soapenc:string"/>
     <element name="bottom_bc" nillable="true" type="soapenc:string"/>
     <element name="bottom_bc_value" nillable="true" type="soapenc:string"/>
     <element name="checkpointFile" nillable="true" type="soapenc:string"/>
     <element name="east_bc" nillable="true" type="soapenc:string"/>
     <element name="east_bc_value" nillable="true" type="soapenc:string"/>
     <element name="end_time" nillable="true" type="soapenc:string"/>
     <element name="fault_interval" nillable="true" type="soapenc:string"/>
     <element name="inputFileName" nillable="true" type="soapenc:string"/>
     <element name="logFileName" nillable="true" type="soapenc:string"/>
     <element name="north_bc" nillable="true" type="soapenc:string"/>
     <element name="north_bc_value" nillable="true" type="soapenc:string"/>
     <element name="nrates" nillable="true" type="soapenc:string"/>
     <element name="number_degrees_freedom" nillable="true" type="soapenc:string"/>
     <element name="number_space_dimensions" nillable="true" type="soapenc:string"/>
     <element name="number_time_groups" nillable="true" type="soapenc:string"/>
     <element name="numberofPrintTimes" nillable="true" type="soapenc:string"/>
     <element name="outputFileName" nillable="true" type="soapenc:string"/>
     <element name="printTimesInterval" nillable="true" type="soapenc:string"/>
     <element name="printTimesType" nillable="true" type="soapenc:string"/>
     <element name="reform_steps" nillable="true" type="soapenc:string"/>
     <element name="reportingElements" nillable="true" type="soapenc:string"/>
     <element name="reportingNodes" nillable="true" type="soapenc:string"/>
     <element name="restartFile" nillable="true" type="soapenc:string"/>
     <element name="run_choice" nillable="true" type="soapenc:string"/>
     <element name="shape_flag" nillable="true" type="soapenc:string"/>
     <element name="solver_flag" nillable="true" type="soapenc:string"/>
     <element name="south_bc" nillable="true" type="soapenc:string"/>
     <element name="south_bc_value" nillable="true" type="soapenc:string"/>
     <element name="time_step" nillable="true" type="soapenc:string"/>
     <element name="top_bc" nillable="true" type="soapenc:string"/>
     <element name="top_bc_value" nillable="true" type="soapenc:string"/>
     <element name="west_bc" nillable="true" type="soapenc:string"/>
     <element name="west_bc_value" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:GeoFESTService"/>
   <import namespace="urn:GatewayWS"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Fault">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Fault[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Layer">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Layer[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="urn:GatewayWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:GeoFESTService"/>
   <import namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryGeoFESTStatusResponse">

   </wsdl:message>

   <wsdl:message name="runPackageGeoFESTFilesResponse">

      <wsdl:part name="runPackageGeoFESTFilesReturn" type="tns2:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingMeshGeneratorRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="faults" type="impl:ArrayOf_tns1_Fault"/>

      <wsdl:part name="layers" type="impl:ArrayOf_tns1_Layer"/>

      <wsdl:part name="autoref_mode" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="runNonBlockingMeshGeneratorResponse">

      <wsdl:part name="runNonBlockingMeshGeneratorReturn" type="tns2:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runBlockingMeshGeneratorResponse">

      <wsdl:part name="runBlockingMeshGeneratorReturn" type="tns2:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runGeoFESTRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="gpb" type="tns1:GeotransParamsBean"/>

      <wsdl:part name="timeStamp" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="queryMeshGeneratorStatusRequest">

   </wsdl:message>

   <wsdl:message name="runNonBlockingMeshGeneratorRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="faults" type="impl:ArrayOf_tns1_Fault"/>

      <wsdl:part name="layers" type="impl:ArrayOf_tns1_Layer"/>

      <wsdl:part name="autoref_mode" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="queryMeshGeneratorStatusResponse">

   </wsdl:message>

   <wsdl:message name="queryGeoFESTStatusRequest">

   </wsdl:message>

   <wsdl:message name="runGeoFESTResponse">

      <wsdl:part name="runGeoFESTReturn" type="tns2:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="runPackageGeoFESTFilesRequest">

      <wsdl:part name="userName" type="soapenc:string"/>

      <wsdl:part name="projectName" type="soapenc:string"/>

      <wsdl:part name="gpb" type="tns1:GeotransParamsBean"/>

      <wsdl:part name="timeStamp" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="GeoFESTService">

      <wsdl:operation name="runBlockingMeshGenerator" parameterOrder="userName projectName faults layers autoref_mode">

         <wsdl:input message="impl:runBlockingMeshGeneratorRequest" name="runBlockingMeshGeneratorRequest"/>

         <wsdl:output message="impl:runBlockingMeshGeneratorResponse" name="runBlockingMeshGeneratorResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runNonBlockingMeshGenerator" parameterOrder="userName projectName faults layers autoref_mode">

         <wsdl:input message="impl:runNonBlockingMeshGeneratorRequest" name="runNonBlockingMeshGeneratorRequest"/>

         <wsdl:output message="impl:runNonBlockingMeshGeneratorResponse" name="runNonBlockingMeshGeneratorResponse"/>

      </wsdl:operation>

      <wsdl:operation name="queryMeshGeneratorStatus">

         <wsdl:input message="impl:queryMeshGeneratorStatusRequest" name="queryMeshGeneratorStatusRequest"/>

         <wsdl:output message="impl:queryMeshGeneratorStatusResponse" name="queryMeshGeneratorStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runPackageGeoFESTFiles" parameterOrder="userName projectName gpb timeStamp">

         <wsdl:input message="impl:runPackageGeoFESTFilesRequest" name="runPackageGeoFESTFilesRequest"/>

         <wsdl:output message="impl:runPackageGeoFESTFilesResponse" name="runPackageGeoFESTFilesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runGeoFEST" parameterOrder="userName projectName gpb timeStamp">

         <wsdl:input message="impl:runGeoFESTRequest" name="runGeoFESTRequest"/>

         <wsdl:output message="impl:runGeoFESTResponse" name="runGeoFESTResponse"/>

      </wsdl:operation>

      <wsdl:operation name="queryGeoFESTStatus">

         <wsdl:input message="impl:queryGeoFESTStatusRequest" name="queryGeoFESTStatusRequest"/>

         <wsdl:output message="impl:queryGeoFESTStatusResponse" name="queryGeoFESTStatusResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GeoFESTExecSoapBinding" type="impl:GeoFESTService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="runBlockingMeshGenerator">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runBlockingMeshGeneratorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://geofest.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runBlockingMeshGeneratorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runNonBlockingMeshGenerator">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runNonBlockingMeshGeneratorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://geofest.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runNonBlockingMeshGeneratorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryMeshGeneratorStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryMeshGeneratorStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://geofest.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryMeshGeneratorStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runPackageGeoFESTFiles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runPackageGeoFESTFilesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://geofest.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runPackageGeoFESTFilesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runGeoFEST">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runGeoFESTRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://geofest.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="runGeoFESTResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="queryGeoFESTStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryGeoFESTStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://geofest.webservices.cgl" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryGeoFESTStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GeoFESTServiceService">

      <wsdl:port binding="impl:GeoFESTExecSoapBinding" name="GeoFESTExec">

         <wsdlsoap:address location="http://gf7.ucs.indiana.edu:8080/geofestexec/services/GeoFESTExec"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
